*.pyc
build*/
*.user
*.exe
*.dll
*.lib
*.so
*.a
*.app
*.pb.cc
*.pb.h
*_pb.py
*_pb2.py
*_pb3.py
*.o
/pb/
/glennifer/robot_state/target/
/protobuf-3.1.0/
*.autosave

# IntelliJ user settings
workspace.xml
tasks.xml
*.iws
